.modal-body {
    padding: 0 0 15px 0 !important;
}

.modal-footer {
    padding: 5px !important
}

label {
    margin-top   : 10px;
    margin-bottom: 2px !important;
}

option[value="title"][disabled] {
    display: none;
}

#house {
    margin-top: 10px;
}

.redColor {
    color: red;
}

.status {
    color     : red;
    font-style: italic;
    font-size : 13px;
}

.btn:focus {
    box-shadow: none !important;
}